REACT_APP_TERMS_URL="https://docs.google.com/document/d/e/2PACX-1vTvJ7MuvW7rDAQGyTs3l-ZglP07Ha30UyS-cYz2nvdT11043NPSDprHtCycXx8wCw/pub?embedded=true"
REACT_APP_PRIVACY_URL="https://docs.google.com/document/d/e/2PACX-1vRFcDSlMPNaaHnFjPJP0fKAwLQ72Ut36Um6rHVKrfPVqWXIIRdl97t1H9YmlTGRyA/pub?embedded=true"